footer{
 margin-top: 100px;
 padding: 20px 0;
 .footer-infos{
     .footer-info-list{
         margin-bottom: 40px;
         .listf{
             padding: 0;
             margin: 0;
             list-style: none;
             display: flex;
             li{
                 margin-right: 16px;
                 a{
                     font-size: 11px;
                     color: $sidebaritem-color;
                 }
             }
             li:last-child{
                 margin: 0;
             }
         }
     }
     .footer-text{
         p{
             color:$sidebaritem-color;
             font-size: 12px;
             a{
                 color: $price-color;
                 @include transitionstyle(all,.2s,ease,0s);
             }
             a:hover{
                 color: $sidebaritem-color;
             }
         }
     }
 }
 .footer-socialmedia-imgs{
     .footer-socialmedia{
         display: flex;
         .appversionoflebazar{
             cursor: pointer;
             img{
                 width: 100%;
                 height: 100%;
             }
         }
         .downloadlinks{
             margin-left: 40px;
             display: flex;
             flex-direction: column;
             small{
                 color: $sidebaritem-color;
                
             }
             img{
                 cursor: pointer;
                 width: 184px;
                 height: 55px;
             }
             img.google{
                 margin: 15px 0 10px 0;
             }
         }
     }
 }
}